In [177]:
import pandas as pd
import os
import csv
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import Column, Integer, String, Float 
import pymysql
import sqlite3
pymysql.install_as_MySQLdb()
import numpy as np

In [178]:
table = pd.read_html("http://www.pewforum.org/religious-landscape-study/compare/party-affiliation/by/state/")
table[0]
state_dem_rep = pd.DataFrame(table[0])

In [179]:
state_dem_rep

,State,Republican/lean Rep.,No lean,Democrat/lean Dem.,Sample Size
0,Alabama,52%,13%,35%,511.0
1,Alaska,39%,29%,32%,310.0
2,Arizona,40%,21%,39%,653.0
3,Arkansas,46%,16%,38%,311.0
4,California,30%,21%,49%,3697.0
5,Colorado,41%,17%,42%,504.0
6,Connecticut,32%,18%,50%,377.0
7,Delaware,29%,17%,55%,301.0
8,District of Columbia,11%,15%,73%,303.0
9,Florida,37%,19%,44%,2020.0
10,Georgia,41%,18%,41%,968.0
11,Hawaii,28%,20%,51%,312.0
12,Idaho,49%,19%,32%,320.0
13,Illinois,33%,19%,48%,1326.0
14,Indiana,42%,20%,37%,654.0
15,Iowa,41%,19%,40%,330.0
16,Kansas,46%,23%,31%,307.0
17,Kentucky,44%,13%,43%,439.0
18,Louisiana,41%,16%,43%,465.0
19,Maine,36%,17%,47%,303.0
20,Maryland,31%,14%,55%,644.0
21,Massachusetts,27%,17%,56%,704.0
22,Michigan,34%,19%,47%,982.0
23,Minnesota,39%,15%,46%,563.0
24,Mississippi,44%,14%,42%,309.0
25,Missouri,41%,18%,42%,642.0
26,Montana,49%,21%,30%,312.0
27,Nebraska,47%,17%,36%,312.0
28,Nevada,37%,18%,46%,314.0
29,New Hampshire,35%,20%,44%,303.0
30,New Jersey,30%,19%,51%,886.0
31,New Mexico,37%,15%,48%,312.0
32,New York,28%,19%,53%,1966.0
33,North Carolina,41%,17%,43%,1022.0
34,North Dakota,50%,18%,33%,338.0
35,Ohio,42%,18%,40%,1132.0
36,Oklahoma,45%,15%,40%,391.0
37,Oregon,32%,21%,47%,419.0
38,Pennsylvania,39%,15%,46%,1366.0
39,Rhode Island,30%,22%,48%,305.0
40,South Carolina,43%,18%,39%,495.0
41,South Dakota,53%,10%,37%,305.0
42,Tennessee,48%,15%,36%,661.0
43,Texas,39%,21%,40%,2535.0
44,Utah,54%,16%,30%,315.0
45,Vermont,29%,14%,57%,306.0
46,Virginia,43%,18%,39%,882.0
47,Washington,33%,23%,44%,714.0
48,West Virginia,43%,16%,41%,309.0
49,Wisconsin,42%,16%,42%,600.0
50,Wyoming,57%,18%,25%,316.0
51,Sample size = 511. Visit this table to see app...,NaN,NaN,NaN,NaN

In [180]:
president_election_file = "nytimes_presidential_elections_2016_results_county.csv"
president_election_results = pd.read_csv(president_election_file)
president_election_results.head()

    Clinton     Trump  Rpt    State Vote by county Vote by town       Place
0  151581.0  130614.0  100  Alabama      Jefferson          NaN   Jefferson
1   68429.0   91087.0  100  Alabama         Mobile          NaN      Mobile
2   62435.0   89199.0  100  Alabama        Madison          NaN     Madison
3   22927.0   72846.0  100  Alabama         Shelby          NaN      Shelby
4   58669.0   33928.0  100  Alabama     Montgomery          NaN  Montgomery

In [181]:
engine = create_engine("sqlite:///database.sqlite")
conn = engine.connect()
inspector = inspect(engine)
from sqlalchemy.orm import Session
session = Session(bind=engine)

inspector.get_table_names()

['county_facts', 'county_facts_dictionary', 'primary_results']

In [182]:
county_facts_df = pd.read_sql_query("Select * from county_facts", conn)
county_facts_dictionary_df = pd.read_sql_query("Select * from county_facts_dictionary", conn)
primary_results_df = pd.read_sql_query("Select * from primary_results", conn)

In [183]:
#county_facts_df.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [184]:
#county_facts_dictionary_df.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [185]:
#primary_results_df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005,Democrat,Bernie Sanders,222,0.078

In [186]:
state_dem_rep.to_csv("state_dem_rep.csv")
county_facts_df.to_csv("county_facts.csv")
county_facts_dictionary_df.to_csv("county_facts_dictionary.csv")
primary_results_df.to_csv("primary_results.csv")

In [187]:
state_dem_rep_bkup = state_dem_rep.copy(deep=True)
county_facts_df_bkup = county_facts_df.copy(deep=True)
primary_results_df_bkup = primary_results_df.copy(deep=True)

In [188]:
state_dem_rep = state_dem_rep.rename(columns={"Republican/lean Rep.": "Republicans", 
                                              "No lean": "Independent", 
                                              "Democrat/lean Dem.": "Democrats"})
del state_dem_rep["Sample Size"]
state_dem_rep.head()

        State Republicans Independent Democrats
0     Alabama         52%         13%       35%
1      Alaska         39%         29%       32%
2     Arizona         40%         21%       39%
3    Arkansas         46%         16%       38%
4  California         30%         21%       49%

In [189]:
county_facts_df = county_facts_df.rename(columns={"area_name": "county"})
county_facts_df.head()

,fips,county,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [190]:
state_dem_rep.to_csv("state_dem_rep.csv")
county_facts_df.to_csv("county_facts.csv")
county_facts_dictionary_df.to_csv("county_facts_dictionary.csv")
primary_results_df.to_csv("primary_results.csv")

In [191]:
county_facts_primary_results_merged = pd.merge(county_facts_df, primary_results_df, on="county", how="left")

county_facts_primary_results_merged.drop(['PST040210', 'PST120214', 'POP715213', 'POP815213'], axis = 1, inplace = True)
county_facts_primary_results_merged.head()

#county_facts_merge_primary_results.to_csv("county_facts_merge_primary_results.csv")

,fips_x,county,state_abbreviation_x,PST045214,POP010210,AGE135214,AGE295214,AGE775214,SEX255214,RHI125214,...,BPS030214,LND110210,POP060210,state,state_abbreviation_y,fips_y,party,candidate,votes,fraction_votes
0,0,United States,,318857056,308745538,6.2,23.1,14.5,50.8,77.4,...,1046363,3531905.43,87.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,Alabama,,4849377,4779736,6.1,22.8,15.3,51.5,69.7,...,13369,50645.33,94.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001,Autauga,AL,55395,54571,6.0,25.2,13.8,51.4,77.9,...,131,594.44,91.8,Alabama,AL,1001,Democrat,Bernie Sanders,544.0,0.182
3,1001,Autauga,AL,55395,54571,6.0,25.2,13.8,51.4,77.9,...,131,594.44,91.8,Alabama,AL,1001,Democrat,Hillary Clinton,2387.0,0.800
4,1001,Autauga,AL,55395,54571,6.0,25.2,13.8,51.4,77.9,...,131,594.44,91.8,Alabama,AL,1001,Republican,Ben Carson,1764.0,0.146

In [192]:
county_facts_primary_results_merged.rename(columns={"PST045214":"Population_2014", 
                                                    "POP010210":"Population_2010", 
                                                    "AGE135214":"Population_%_Under_5yrs", 
                                                    "AGE295214":"Population_%_Under_18yrs", 
                                                    "AGE775214":"Population_%_64_Plus", 
                                                    "SEX255214":"Population_%_Female", 
                                                    "RHI125214":"Population_%_White", 
                                                    "RHI225214":"Population_%_Black_AfroAmer", 
                                                    "RHI325214":"Population_%_AmerIndi_AlaskaNative", 
                                                    "RHI425214":"Population_%_Asian", 
                                                    "RHI525214":"Population_%_Hawaii_PacIslander", 
                                                    "RHI625214":"Population_%_2_Plus_Race", 
                                                    "RHI725214":"Population_%_Hisp_Latino", 
                                                    "RHI825214":"Population_%_White_No_Hisp_Latino", 
                                                    "POP645213":"Population_%_ForeignBorn_2009_13", 
                                                    "EDU635213":"Population_%_HS_Grad_Age_Above_25", 
                                                    "EDU685213":"Population_%_Bachelor_Degree_Age_Above_25", 
                                                    "VET605213":"Veterans_2009_13", 
                                                    "LFE305213":"Mean_TrvlTime_Work_min_Age_16plus_2009_13", 
                                                    "HSG010214":"HseUnits_2014", 
                                                    "HSG445213":"HseUnits_%_within_MultiUnitStruct_2009_13", 
                                                    "HSG096213":"HseUnits_MultiUnitStruct_2009_13", 
                                                    "HSG495213":"Median_Ownr_Occpd_HseUnit_2009_13", 
                                                    "HSD410213":"HseHold_2009_13", 
                                                    "HSD310213":"Persons_Per_HseHold_2009_13", 
                                                    "INC910213":"PerCapita_Income_Past12_months_2013", 
                                                    "INC110213":"Median_HseHold_Income_2009_13", 
                                                    "PVY020213":"Persons_BPL_%_2009_13", 
                                                    "BZA010213":"Pvt_NonFarm_Establishment_2013", 
                                                    "BZA110213":"Pvt_NonFarm_Employment_2013", 
                                                    "BZA115213":"Pvt_NonFarm_Employment_%_Chng_2012_13", 
                                                    "NES010213":"Non_Employer_Establishment_2013", 
                                                    "SBO001207":"Total_Firms_2007", 
                                                    "SBO315207":"Blck_Owned_Firm_%_2007", 
                                                    "SBO115207":"AmerIndi_AlaskNat_Owned_Firm_%_2007", 
                                                    "SBO215207":"Asian_Owned_Firm_%_2007", 
                                                    "SBO515207":"Hawaiin_PacIsnlndr_Owned_Firm_%_2007", 
                                                    "SBO415207":"Hisp_Owned_Firm_%_2007", 
                                                    "SBO015207":"Female_Owned_Firm_%_2007", 
                                                    "MAN450207":"Manfctr_Shipmnt_Sales_2007_GT_USD1000", 
                                                    "WTN220207":"Mrchnt_WhlSlr_Sales_2007_GT_USD1000", 
                                                    "RTN130207":"Retail_Sales_2007_GT_USD1000", 
                                                    "RTN131207":"Retail_Sales_PerCapita_2007", 
                                                    "AFN120207":"Acmdtn_Food_Sales_2007_GT_USD1000", 
                                                    "BPS030214":"Building_Permit_2014", 
                                                    "LND110210":"Land_Area_PerSqMile_2010", 
                                                    "POP060210":"Population_PerSqMile_2010"}, inplace = True)

In [193]:
county_facts_primary_results_merged.rename(columns={"fips_x": "State_County_ID", 
                                                   "state_abbreviation_x": "State_Abbreviation"}, 
                                           inplace = True)
county_facts_primary_results_merged.drop(['state_abbreviation_y', 'fips_y'], axis = 1, inplace = True)

county_facts_primary_results_merged = county_facts_primary_results_merged[["State_County_ID", "state",
                                                                           "county", "State_Abbreviation", 
                                                                           "party", "candidate", "votes", 
                                                                           "fraction_votes", "Population_2014", 
                                                                           "Population_2010", "Population_%_Under_5yrs", 
                                                                           "Population_%_Under_18yrs", 
                                                                           "Population_%_64_Plus", 
                                                                           "Population_%_Female", "Population_%_White", 
                                                                           "Population_%_Black_AfroAmer", 
                                                                           "Population_%_AmerIndi_AlaskaNative", 
                                                                           "Population_%_Asian", 
                                                                           "Population_%_Hawaii_PacIslander", 
                                                                           "Population_%_2_Plus_Race", 
                                                                           "Population_%_Hisp_Latino", 
                                                                           "Population_%_White_No_Hisp_Latino", 
                                                                           "Population_%_ForeignBorn_2009_13", 
                                                                           "Population_%_HS_Grad_Age_Above_25", 
                                                                           "Population_%_Bachelor_Degree_Age_Above_25", 
                                                                           "Veterans_2009_13", 
                                                                           "Mean_TrvlTime_Work_min_Age_16plus_2009_13", 
                                                                           "HseUnits_2014", 
                                                                           "HseUnits_%_within_MultiUnitStruct_2009_13", 
                                                                           "HseUnits_MultiUnitStruct_2009_13", 
                                                                           "Median_Ownr_Occpd_HseUnit_2009_13", 
                                                                           "HseHold_2009_13", 
                                                                           "Persons_Per_HseHold_2009_13", 
                                                                           "PerCapita_Income_Past12_months_2013", 
                                                                           "Median_HseHold_Income_2009_13", 
                                                                           "Persons_BPL_%_2009_13", 
                                                                           "Pvt_NonFarm_Establishment_2013", 
                                                                           "Pvt_NonFarm_Employment_2013", 
                                                                           "Pvt_NonFarm_Employment_%_Chng_2012_13", 
                                                                           "Non_Employer_Establishment_2013", 
                                                                           "Total_Firms_2007", 
                                                                           "Blck_Owned_Firm_%_2007", 
                                                                           "AmerIndi_AlaskNat_Owned_Firm_%_2007", 
                                                                           "Asian_Owned_Firm_%_2007", 
                                                                           "Hawaiin_PacIsnlndr_Owned_Firm_%_2007", 
                                                                           "Hisp_Owned_Firm_%_2007", 
                                                                           "Female_Owned_Firm_%_2007", 
                                                                           "Manfctr_Shipmnt_Sales_2007_GT_USD1000", 
                                                                           "Mrchnt_WhlSlr_Sales_2007_GT_USD1000", 
                                                                           "Retail_Sales_2007_GT_USD1000", 
                                                                           "Retail_Sales_PerCapita_2007", 
                                                                           "Acmdtn_Food_Sales_2007_GT_USD1000",
                                                                           "Building_Permit_2014", 
                                                                           "Land_Area_PerSqMile_2010", 
                                                                           "Population_PerSqMile_2010"]]

county_facts_primary_results_merged.head()

,State_County_ID,state,county,State_Abbreviation,party,candidate,votes,fraction_votes,Population_2014,Population_2010,...,Hisp_Owned_Firm_%_2007,Female_Owned_Firm_%_2007,Manfctr_Shipmnt_Sales_2007_GT_USD1000,Mrchnt_WhlSlr_Sales_2007_GT_USD1000,Retail_Sales_2007_GT_USD1000,Retail_Sales_PerCapita_2007,Acmdtn_Food_Sales_2007_GT_USD1000,Building_Permit_2014,Land_Area_PerSqMile_2010,Population_PerSqMile_2010
0,0,NaN,United States,,NaN,NaN,NaN,NaN,318857056,308745538,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,NaN,Alabama,,NaN,NaN,NaN,NaN,4849377,4779736,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Alabama,Autauga,AL,Democrat,Bernie Sanders,544.0,0.182,55395,54571,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1001,Alabama,Autauga,AL,Democrat,Hillary Clinton,2387.0,0.800,55395,54571,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
4,1001,Alabama,Autauga,AL,Republican,Ben Carson,1764.0,0.146,55395,54571,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8

In [194]:
county_facts_primary_results_merged["state"].fillna(county_facts_primary_results_merged["county"], 
                                                    inplace = True)    
county_facts_primary_results_merged.head()

,State_County_ID,state,county,State_Abbreviation,party,candidate,votes,fraction_votes,Population_2014,Population_2010,...,Hisp_Owned_Firm_%_2007,Female_Owned_Firm_%_2007,Manfctr_Shipmnt_Sales_2007_GT_USD1000,Mrchnt_WhlSlr_Sales_2007_GT_USD1000,Retail_Sales_2007_GT_USD1000,Retail_Sales_PerCapita_2007,Acmdtn_Food_Sales_2007_GT_USD1000,Building_Permit_2014,Land_Area_PerSqMile_2010,Population_PerSqMile_2010
0,0,United States,United States,,NaN,NaN,NaN,NaN,318857056,308745538,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,Alabama,,NaN,NaN,NaN,NaN,4849377,4779736,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Alabama,Autauga,AL,Democrat,Bernie Sanders,544.0,0.182,55395,54571,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1001,Alabama,Autauga,AL,Democrat,Hillary Clinton,2387.0,0.800,55395,54571,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
4,1001,Alabama,Autauga,AL,Republican,Ben Carson,1764.0,0.146,55395,54571,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8

In [195]:
state_dem_rep = state_dem_rep[pd.notnull(state_dem_rep["Republicans"])]
state_dem_rep.rename(columns={"State": "state"}, inplace = True)

In [196]:
election_data = pd.merge(county_facts_primary_results_merged, state_dem_rep, 
                         left_on="county", 
                         right_on = "state", 
                         how = "left")
election_data.rename(columns = {"state_x":"State"}, inplace = True)
election_data.drop(["state_y"], axis = 1, inplace = True)
election_data.head()

,State_County_ID,State,county,State_Abbreviation,party,candidate,votes,fraction_votes,Population_2014,Population_2010,...,Mrchnt_WhlSlr_Sales_2007_GT_USD1000,Retail_Sales_2007_GT_USD1000,Retail_Sales_PerCapita_2007,Acmdtn_Food_Sales_2007_GT_USD1000,Building_Permit_2014,Land_Area_PerSqMile_2010,Population_PerSqMile_2010,Republicans,Independent,Democrats
0,0,United States,United States,,NaN,NaN,NaN,NaN,318857056,308745538,...,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4,NaN,NaN,NaN
1,1000,Alabama,Alabama,,NaN,NaN,NaN,NaN,4849377,4779736,...,52252752,57344851,12364,6426342,13369,50645.33,94.4,52%,13%,35%
2,1001,Alabama,Autauga,AL,Democrat,Bernie Sanders,544.0,0.182,55395,54571,...,0,598175,12003,88157,131,594.44,91.8,NaN,NaN,NaN
3,1001,Alabama,Autauga,AL,Democrat,Hillary Clinton,2387.0,0.800,55395,54571,...,0,598175,12003,88157,131,594.44,91.8,NaN,NaN,NaN
4,1001,Alabama,Autauga,AL,Republican,Ben Carson,1764.0,0.146,55395,54571,...,0,598175,12003,88157,131,594.44,91.8,NaN,NaN,NaN

In [197]:
election_data = election_data[["State_County_ID", "State", "Republicans", "Democrats", "Independent", 
                               "county", "State_Abbreviation", "party", "candidate", "votes", 
                               "fraction_votes", "Population_2014", "Population_2010", "Population_%_Under_5yrs", 
                               "Population_%_Under_18yrs", "Population_%_64_Plus", 
                               "Population_%_Female", "Population_%_White", "Population_%_Black_AfroAmer", 
                               "Population_%_AmerIndi_AlaskaNative", "Population_%_Asian", 
                               "Population_%_Hawaii_PacIslander", "Population_%_2_Plus_Race", 
                               "Population_%_Hisp_Latino", "Population_%_White_No_Hisp_Latino", 
                               "Population_%_ForeignBorn_2009_13", "Population_%_HS_Grad_Age_Above_25", 
                               "Population_%_Bachelor_Degree_Age_Above_25", "Veterans_2009_13", 
                               "Mean_TrvlTime_Work_min_Age_16plus_2009_13", "HseUnits_2014", 
                               "HseUnits_%_within_MultiUnitStruct_2009_13", "HseUnits_MultiUnitStruct_2009_13", 
                               "Median_Ownr_Occpd_HseUnit_2009_13", "HseHold_2009_13", 
                               "Persons_Per_HseHold_2009_13", "PerCapita_Income_Past12_months_2013", 
                               "Median_HseHold_Income_2009_13", "Persons_BPL_%_2009_13", 
                               "Pvt_NonFarm_Establishment_2013", "Pvt_NonFarm_Employment_2013", 
                               "Pvt_NonFarm_Employment_%_Chng_2012_13", "Non_Employer_Establishment_2013", 
                               "Total_Firms_2007", "Blck_Owned_Firm_%_2007", 
                               "AmerIndi_AlaskNat_Owned_Firm_%_2007", "Asian_Owned_Firm_%_2007", 
                               "Hawaiin_PacIsnlndr_Owned_Firm_%_2007", "Hisp_Owned_Firm_%_2007", 
                               "Female_Owned_Firm_%_2007", "Manfctr_Shipmnt_Sales_2007_GT_USD1000", 
                               "Mrchnt_WhlSlr_Sales_2007_GT_USD1000", "Retail_Sales_2007_GT_USD1000", 
                               "Retail_Sales_PerCapita_2007", "Acmdtn_Food_Sales_2007_GT_USD1000",
                               "Building_Permit_2014", "Land_Area_PerSqMile_2010", 
                               "Population_PerSqMile_2010"]]
election_data.head()

,State_County_ID,State,Republicans,Democrats,Independent,county,State_Abbreviation,party,candidate,votes,...,Hisp_Owned_Firm_%_2007,Female_Owned_Firm_%_2007,Manfctr_Shipmnt_Sales_2007_GT_USD1000,Mrchnt_WhlSlr_Sales_2007_GT_USD1000,Retail_Sales_2007_GT_USD1000,Retail_Sales_PerCapita_2007,Acmdtn_Food_Sales_2007_GT_USD1000,Building_Permit_2014,Land_Area_PerSqMile_2010,Population_PerSqMile_2010
0,0,United States,NaN,NaN,NaN,United States,,NaN,NaN,NaN,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,52%,35%,13%,Alabama,,NaN,NaN,NaN,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Alabama,NaN,NaN,NaN,Autauga,AL,Democrat,Bernie Sanders,544.0,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1001,Alabama,NaN,NaN,NaN,Autauga,AL,Democrat,Hillary Clinton,2387.0,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
4,1001,Alabama,NaN,NaN,NaN,Autauga,AL,Republican,Ben Carson,1764.0,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8

In [198]:
election_data["Republicans"].fillna(0, inplace = True)
election_data["Democrats"].fillna(0, inplace = True)
election_data["Independent"].fillna(0, inplace = True)
election_data["party"].fillna("N/A", inplace = True)
election_data["candidate"].fillna("N/A", inplace = True)
election_data["votes"].fillna("N/A", inplace = True)
election_data.head()

,State_County_ID,State,Republicans,Democrats,Independent,county,State_Abbreviation,party,candidate,votes,...,Hisp_Owned_Firm_%_2007,Female_Owned_Firm_%_2007,Manfctr_Shipmnt_Sales_2007_GT_USD1000,Mrchnt_WhlSlr_Sales_2007_GT_USD1000,Retail_Sales_2007_GT_USD1000,Retail_Sales_PerCapita_2007,Acmdtn_Food_Sales_2007_GT_USD1000,Building_Permit_2014,Land_Area_PerSqMile_2010,Population_PerSqMile_2010
0,0,United States,0,0,0,United States,,N/A,N/A,N/A,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,52%,35%,13%,Alabama,,N/A,N/A,N/A,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Alabama,0,0,0,Autauga,AL,Democrat,Bernie Sanders,544,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1001,Alabama,0,0,0,Autauga,AL,Democrat,Hillary Clinton,2387,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
4,1001,Alabama,0,0,0,Autauga,AL,Republican,Ben Carson,1764,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8

In [199]:
election_data.to_csv("election_data.csv")

In [200]:
#county_facts_primary_results_merged.to_csv("county_facts_primary_results.csv")

In [201]:
#county_facts_df.set_index(["county", "state_abbreviation"], inplace = True)
#county_facts_df.head()

In [202]:
#primary_results_df.set_index(["county", "state_abbreviation"], inplace = True)
#primary_results_df.head()

In [203]:
#county_facts_merge2_primary_results = pd.merge(primary_results_df, county_facts_df,
#                                              on=["state_abbreviation", "county"])
#county_facts_merge2_primary_results.head()